.item-header {
  margin: .6em 0;

  > .main {}
  > .side {
    font-family: $font-family-serif;
    font-size: $h3-font-size-small;
    font-weight: bold;
  }

  // Enable grid on bigger sizes than tablet
  @media (#{$bp-larger-than-phablet}) {
    > .main {
      float: left;
      width: grid-column-width(9);
    }
    > .side {
      float: left;
      width: grid-column-width(3);
      font-size: $h3-font-size;
      text-align: right;
      padding-left: 2em;
    }
  }
  @media (#{$bp-larger-than-phablet}), only print {
    display: flex;

    > .main {
      float: none; // Override to enable flexbox properly
      flex: 2;
      width: auto; // Override to enable flexbox properly
    }

    > .side {
      float: none; // Override to enable flexbox properly
      width: auto; // Override to enable flexbox properly
      margin-left: 1em;
    }
  }
}
