.item-header {
  margin: .6em 0;

  > .main {}
  > .side {
    font-family: $font-family-serif;
    font-size: $h3-font-size-small;
    font-weight: bold;
  }

  // Enable grid on bigger sizes than tablet
  @media (#{$bp-larger-than-phablet}) {
    > .main {
      width: grid-column-width(9);
    }
    > .side {
      width: grid-column-width(3);
      font-size: $h3-font-size;
      text-align: right;
      margin-left: 2em;
    }
  }
  @media (#{$bp-larger-than-phablet}), only print {
    // Use Modernizr CSS class toggles to detect flexbox support
    .flexbox & {
      display: flex;

      > .main {
        flex: 2;
        width: auto; // Override to enable flexbox properly
      }

      > .side {
        width: auto; // Override to enable flexbox properly
        margin-left: 1em;
      }
    }
  }
}
