.resume-section {
  @include horizontal-line;
  page-break-inside: avoid;

  > .title {
    page-break-after: avoid;
  }

  > .item,
  > .extra {
    page-break-inside: avoid;
  }

  > .extra {
    page-break-before: avoid;
  }
}
