@mixin horizontal-line {
  position: relative;
  margin-bottom: 24px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 2em;
    border-bottom: thin solid rgb(174, 170, 170);
  }
}
