@page {
  size: auto;
  margin: .53in ; // Have to be inches, otherwise not working
}

@include print {
  p > a,
  li > a {
    color: currentColor;
    &:after {
      content: " (" attr(href) ")";
    }
  }
}
