@page {
  size: auto;
  margin: .63in .78in ; // TODO: No idea why this isn't working
}

@include print {
  p > a,
  li > a {
    color: currentColor;
    &:after {
      content: " (" attr(href) ")";
    }
  }
}
