html {
  font-size: 62.5%; // This becomes 10px, which will be 16px for body font-size
  @include print {
    font-size: 7.5pt; // This, for the body font size, will equal to 12pt
  }
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-serif;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-variant: small-caps;
  letter-spacing: 0.02em;
}

h3 {
  margin-bottom: 0;
  font-size: 2.666667rem;
}

p {
  margin-bottom: 1.333333em;
}

a {
  &:hover {
    color: darken($font-color, 10%);
  }

  @include print {
    color: $font-color;
  }
}
