$font-family-sans: "Noto Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Source Serif Pro", "Times", "Times New Roman", serif;
$font-family: $font-family-sans;


$abilities-column-width: 18em;
$abilities-column-count: 2;
$abilities-column-gap: 1.5em;

$print-vertical-margin: .63in;
$print-horizontal-margin: .78in;
