---
// Component Imports
import Resume from '../components/resume.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = ' Résumé — Steven Sinatra';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="A résumé of Steven Sinatra. Front end engineer, Indonesian living in Sydney.">
  <meta name="author" content="Steven Sinatra">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>
  <link rel="icon" type="image/png" href="./images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="./images/favicon-96x96.png" sizes="96x96">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <main>
    <Resume />
  </main>
  <script src="https://cdn.usefathom.com/script.js" data-site="EFNXWPYI" defer></script>
</body>
</html>
