.experience-item {
  > .item-header .company {
    margin-bottom: 0;
    font-variant: normal;
    font-weight: bold;
  }

  > .item-header .position {
    margin-bottom: 0;
    font-style: italic;
  }
}
