.resume-header {
  @include horizontal-line;
  margin-top: 2.5em;
  padding-bottom: 1.33em;

  @include print {
    margin-top: 0;
  }


  > .title {
    margin: 0;
    font-variant: normal;
    letter-spacing: 0.1rem;
    text-align: center;
    text-size: 4.8rem;
    text-transform: uppercase;
  }
}
