.resume-footer {
  margin: 2em 0 2.5em;
  opacity: .8;
  font-size: .8em; // Using em so footer is a fraction of the global font size
  text-align: center;
  // Prevent page breaks on the footer content
  page-break-inside: avoid;

  &:hover {
    opacity: 1;
  }

  > .title {
    font-style: italic;
  }

  > .title > .caps {
    text-transform: uppercase;
  }

  > .icons a {
    color: darken($font-color, 10%);
    text-decoration: none;

    &:hover svg {
      fill: $link-color;
    }
  }

  > .icons svg {
    width: 1.8em; // Using em so it would be relative to the footer font size
    height: 1.8em; // Using em so it would be relative to the footer font size
    margin: .6em .2em .2em;
    fill: currentColor;
    @include default-transition;
  }


  @include print {
    margin-bottom: 0;
    opacity: 1;
  }
}
