<style lang="scss">
  .resume-headnote {
    display: none;
    font-size: 1rem;
    text-align: center;
    opacity: .3;

    @media only print {
      display: block;
    }
  }
</style>

<div class="resume-headnote">
  This résumé is generated from a live website.
  You can find it at <a href="http://cv.stevensinatra.id" title="Steven Sinatra's live Website résumé">cv.stevensinatra.id</a>
</div>
