<style lang="scss">
.resume-header {
  margin-top: 2.5em;
  margin-bottom: 1.5em;

  @media only print {
    margin-top: 0;
  }
}

.title {
  margin: 0;
  font-variant: normal;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 4.8rem;
}

.contact-row {
  text-align: center;
}

.contact-text {
  display: inline-block;
  margin: .5em 1em;
  letter-spacing: 0.0625em;
  font-size: 1.6rem;
}

.contact-link {
  color: currentColor;
  text-decoration: none;
}
</style>

<header class="resume-header">
  <h1 class="title">Steven Sinatra</h1>
  <div class="contact-row">
    <div class="contact-text"><a class="contact-link" href="tel:+61416640528" title="Phone Number">+61 416 640 528</a></div>
    <div class="contact-text"><a class="contact-link" href="mailto:steven@stevensinatra.id" title="Email">steven@stevensinatra.id</a></div>
  </div>
</header>
