---
import Container from './container';
import Headnote from './headnote';
import Header from './header';
import Section from './section';
import List from './list';
import ItemHeader from './item-header';
import Footer from './footer';
import HorizontalLine from './horizontal-line';
---

<style lang="scss">
  .italic {
    font-style: italic;
  }

  .mb-0 {
    margin-bottom: 0;
  }
</style>

<Container>
  <Headnote />
  <Header />

  <HorizontalLine />

  <Section title="Technical Experience">
    <List>
      <li>Semantic HTML knowledge</li>
      <li>Extensive CSS knowledge</li>
      <li>JS with working TypeScript knowledge</li>
      <li>React framework experience</li>
      <li>Limited experience in accessibility</li>
      <li>Front-end tooling setup knowledge</li>
      <li>Extensive Web Performance knowledge</li>
      <li>UX/UI knowledge, with growth mindset</li>
      <li>Limited knowledge of GraphQL</li>
    </List>
  </Section>

  <HorizontalLine />

  <Section title="Commercial Experience">
    <div>
      <ItemHeader>
        <h3 slot="main">Canva</h3>
        <p class="italic mb-0" slot="main">Lead front-end engineer, Web Performance</p>
        <div slot="side">2018—now</div>
      </ItemHeader>
      <ul>
        <li>
          Working daily on planning on performance work to make Canva fast, leading a team and
          encouraging external dependencies to help out and build a performance culture.
        </li>
        <li>
          Found quick wins and architectural changes to encourage performance as a default
          experience.
        </li>
        <li>
          Set up and communicated knowledge on using synthetic metrics and real user metrics
          on web performance.
        </li>
        <li>
          Casually maintaining build systems and finding improvements on developer experience.
        </li>
      </ul>
    </div>
    <div>
      <ItemHeader>
        <h3 slot="main">Freelancer.com</h3>
        <p class="italic mb-0" slot="main">Front-end Engineer, Infrastructure</p>
        <div slot="side">2015—2018</div>
      </ItemHeader>
      <ul>
        <li>
          Spearheaded the movement to a front-end build system using Gulp (at the time)
          to precompile LESS files to CSS on build time rather than on runtime in the
          browser as a development workflow.
        </li>
        <li>
          Improved standardisation and consistency of CSS-based UI components.
        </li>
        <li>
          Aided in the development of modular JS infrastructure with
          SystemJS and jspm in personal time with just two people.
        </li>
        <li>
          Delivered performance focused culture, analysed and improved the
          load time of landing pages, whilst simultaneously collaborated on
          design and development of new landing pages.
        </li>
        <li>
          Involved in the rollout of Angular to the company front-end infrastructure,
          migrating sitewide components to the new framework, and made initial
          development work of the UI components implementation.
        </li>
      </ul>
    </div>
  </Section>

  <HorizontalLine />

  <Section title="Projects & Other Involvement">
    <div>
      <ItemHeader>
        <h3 slot="main">“Hacking Fast in a Hackathon” article</h3>
        <p slot="main" class="italic mb-0">
          <a href="https://hackernoon.com/hacking-fast-in-a-hackathon-94d5dbca657">https://hackernoon.com/hacking-fast-in-a-hackathon-94d5dbca657</a>
        </p>
      </ItemHeader>
      <p>
        Written an article about succeeding in a hackathon and lessons learnt
        from doing it.
      </p>
    </div>

    <p class="italic">
      More projects and experiments can be found on
      <a href="http://github.com/diagramatics">GitHub</a>.
    </p>
  </Section>

  <HorizontalLine />

  <Section title="Education">
    <div>
      <ItemHeader>
        <h3 slot="main">Academy of Information Technology</h3>
      </ItemHeader>
      <ul>
        <li>
          <strong>Diploma of Software Development</strong>, 2013 — 2014
        </li>
        <li><strong>Bachelor of IT (Mobile Application Development)</strong>, 2014 — 2015</li>
      </ul>
    </div>
  </Section>

  <HorizontalLine />

  <Footer />
</Container>

